html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Color de fondo del footer */
    text-align: center;
    padding: 10px 0; /* Espaciado interno superior e inferior del footer */
}

.mensajeCasustica{
    font-size: 12px;
    font-weight: bold;
    
}

.usuarios .fa-add:before, .fa-plus:before {
    padding-right: 5px
}