@model RentiSI.Modelos.viewModels.TramiteVM
@{
    ViewData["Title"] = "Asignación";
    var ParametrosBotones = new { LabelBoton = "Asignar", ClaseBoton = "success" };
}

<div class="container mt-3 d-flex justify-content-center">
    <div class="row">
        <div class="col-2 offset-5">
            <h3>
                <small class="text-body-secondary">Asignación</small>
            </h3>
        </div>

        <form method="POST" asp-action="Create" enctype="multipart/form-data">
            <div class="col-12 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-3">
                        <label class="fw-bold">Número de placa</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Tramite.NumeroPlaca" class="form-control" placeholder="Ingresa el Número de placa" oninput="this.value = this.value.toUpperCase()" />
                        <span asp-validation-for="Tramite.NumeroPlaca" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <label class="fw-bold">Financiación</label>
                    </div>
                    <div class="col-8">
                        <div class="form-check form-switch">
                            <input asp-for="Tramite.Financiacion" class="form-check-input" type="checkbox" id="financiacionSwitch">
                            <span asp-validation-for="Tramite.Financiacion" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <label class="fw-bold">Impronta</label>
                    </div>
                    <div class="col-8">
                        <div class="form-check form-switch">
                            <input asp-for="Tramite.Impronta" class="form-check-input" type="checkbox" id="improntaSwitch">
                            <span asp-validation-for="Tramite.Impronta" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <label class="fw-bold">Fecha de Negocio</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Tramite.FechaNegocio" class="form-control" type="date" id="Tramite.fechaNegocio" name="Tramite.fechaNegocio">
                        <span asp-validation-for="Tramite.FechaNegocio" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <label class="fw-bold">Organismo de Tránsito</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Tramite.OrganismoDeTransitoId, Model.ListaOrganismosTransito,
                            "-Por favor seleccione un organismo de tránsito-", new { @class = "form-control" })
                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Tramite.OrganismoDeTransitoId)</span>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <label class="fw-bold">Tipo Gestión</label>
                    </div>
                    <div class="col-8">

                        @Html.ListBoxFor(x => x.SelectedTipoGestionIds, Model.ListaTipoGestion, new { @class = "form-control" })
                        <span><label class="text-warning"><i class="fa-solid fa-circle-info"></i>Para seleccionar multiples registros, presione la tecla ctrl y posteriormente seleccione el tipo gestión</label></span>
                        <div class="text-danger">@Html.ValidationMessageFor(m => m.SelectedTipoGestionIds)</div>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <label class="fw-bold">Observación</label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Tramite.Observaciones" class="form-control" id="Observaciones" rows="3"></textarea>
                        <span asp-validation-for="Tramite.Observaciones" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group-row mt-3">
                    <div class="col-8 text-center">
                        <partial name="_VistaCrearVolver" model="ParametrosBotones" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>