@{
    ViewData["Title"] = "Error 404 - Página no encontrada";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-4">¡Oops!</h1>
                <p class="lead">La página que buscas no se encontró.</p>
                <p>Es posible que la página haya sido eliminada, que su nombre haya cambiado o que esté temporalmente fuera de servicio.</p>
                <a href="/" class="btn btn-primary">Ir a la página de inicio</a>
            </div>
        </div>
    </div>
</div>