@{
    ViewData["Title"] = "Revision";
}

<div class="container">

    <div class="">
        <div class="row">
            <div class="col-2 offset-5">
                <h3>
                    <small class="text-body-secondary">Revisión</small>
                </h3>
            </div>
        </div>
    </div>

    <table id="tblRevision" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Número Placa</th>
                <th>Tipo Trámite</th>
                <th>No seguir la revisión</th>
                <th>Organismo Tránsito</th>
                <th>Fecha Recepción</th>
                <th>Fecha Impronta</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/revision.js"></script>
}
