@model RentiSI.Modelos.viewModels.ImprontaVM
@{
    ViewData["Title"] = "Gestion Impronta";
    var ParametrosBotones = new { LabelBoton = "Gestionar", ClaseBoton = "success" };
}

<div class="container mt-3 d-flex justify-content-center">
    <div class="row">
        <div class="col-4 offset-4">
            <h3>
                <small class="text-body-secondary">Gestión Impronta</small>
            </h3>
        </div>

        <form method="POST" asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="Tramite.Id" />
            <input type="hidden" asp-for="Tramite.FechaNegocio" />
            <div class="col-12 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-3">
                        <label class="fw-bold">Número de placa</label>
                    </div>
                    <div class="col-6">
                        <label asp-for="@Model.Tramite.NumeroPlaca">@Model.Tramite.NumeroPlaca</label>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-3">
                        <label class="fw-bold">Tipo gestion impronta</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select" id="tipificacionImpronta" asp-for="Impronta.TipificacionImpronta">
                            <option value="">Por favor seleccione un tipo de gestion de impronta</option>
                            <option value="Foranea ">Foranea</option>
                            <option value="Local">Local</option>
                        </select>
                        <span asp-validation-for="Impronta.TipificacionImpronta" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-3">
                        <label class="fw-bold">Tipo casuistica gestion impronta</label>
                    </div>
                    <div class="col-6">
                        @Html.ListBoxFor(x => x.SelectedCasuisticasIds, Model.ListaCasuisticas, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-3">
                        <label class="fw-bold">Organismo de transito</label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownListFor(m => m.Tramite.OrganismoDeTransitoId, Model.ListaOrganismosTransito,
                                 "-Por favor seleccione un organismo de transito-", new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-3">
                        <label class="fw-bold">Observaciones</label>
                    </div>
                    <div class="col-6">
                        <textarea asp-for="Impronta.Observaciones" class="form-control" id="Observaciones" rows="3"></textarea>
                        <span asp-validation-for="Impronta.Observaciones" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-3">
                        <label class="fw-bold">Resuelto</label>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-switch">
                            <input asp-for="Impronta.EsResuelto" class="form-check-input" type="checkbox" id="resueltoSwitch">
                            <span asp-validation-for="Impronta.EsResuelto" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <div class="form-group-row">
                    <div class="col-8">
                        <partial name="_VistaCrearVolver" model="ParametrosBotones" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>