@{
    ViewData["Title"] = "Gestion Impronta";
}

<div class="container mt-5">

    <div class="">
        <div class="row">
            <div class="col-4 offset-4">
                <h3>
                    <small class="text-body-secondary">Gestión Impronta</small>
                </h3>
            </div>
        </div>
    </div>

    <table id="tblGestionImpronta" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center;">Número Placa</th>
                <th style="text-align: center;">Organismo Tránsito</th>
                <th style="text-align: center;">Tipo Gestión Impronta</th>
                <th style="text-align: center;">No Gestión Impronta</th>
                <th style="text-align: center;">Fecha Recepción</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/gestionImpronta.js"></script>
}
