@{
    ViewData["Title"] = "Reasignacion";
}

<div class="container mt-5">

    <div class="">
        <div class="row">
            <div class="col-4 offset-4">
                <h3>
                    <small class="text-body-secondary">Reasignación Trámites</small>
                </h3>
            </div>
        </div>
    </div>

    <table id="tblReasignacion" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th style="text-align: center;">Número placa</th>
                <th style="text-align: center;">Usuario gestión</th>
                <th style="text-align: center;">Organismo de tránsito</th>
                <th style="text-align: center;">Tipo detalle estado</th>
                <th style="text-align: center;">Tipificacion casuistica</th>
                <th style="text-align: center;">Tiempo gestión</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/reasignacion.js"></script>
}
